@model TaskFlow.Models.ProjectMember

@{
    ViewData["Title"] = "Dodaj członka";
}

<h1>Dodaj członka do projektu: @ViewBag.ProjectName</h1>
<div class="row">
    <div class="col-md-6">
        <form asp-action="AddMember">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <input type="hidden" asp-for="ProjectId" value="@ViewBag.ProjectId" />
            
            <div class="form-group">
                <label asp-for="UserId" class="control-label">Użytkownik</label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId">
                    <option value="">-- Wybierz użytkownika --</option>
                </select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            
            <div class="form-group mt-3">
                <input type="submit" value="Dodaj członka" class="btn btn-primary" />
                <a asp-action="Members" asp-route-id="@ViewBag.ProjectId" class="btn btn-secondary">Anuluj</a>
            </div>
        </form>
    </div>
</div>