@{
    ViewData["Title"] = "Dostęp zabroniony";
}

<div class="text-center">
    <h1 class="display-4">Brak dostępu</h1>
    <div class="alert alert-danger">
        <p>@ViewBag.Message</p>
    </div>
    <p>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Powrót do strony głównej</a>
    </p>
</div>